:root {
  --background-color: aliceblue;
  --secondary-background-color: white;
  --primary-color: lightslategray;
  --secondary-color: rgb(95, 108, 122);
  --text-color: white;
  --secondary-text-color: #f9e63a;
}
html {
  font-size: 12pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  height: 100svh;
  background-color: var(--background-color);
}

#calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  min-height: 500px;
  min-width: 320px;
  max-width: 69%;
  padding: 40px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 10px 0px var(--secondary-color);
}

#display {
  box-sizing: border-box;
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 10px;
  height: 130px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 2rem;
  background-color: var(--secondary-background-color);
}
#buttons {
  flex-grow: 1;
  background-color: var(--primary-color);
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: space-between;
  grid-template-areas:
    "ac divide multiply backspace"
    "seven eight nine minus"
    "one five six plus"
    "four two three equals"
    "percent zero dot equals";
}

#buttons button:not(button:last-child) {
  width: 70px;
  aspect-ratio: 1/1;
}
#buttons button {
  box-sizing: border-box;
  text-align: center;
  border: none;
  background-color: var(--primary-color);
  border-radius: 10000px;

  font-size: 2.5rem;
  box-shadow: 0px 0px 7px 0px var(--secondary-color);
}

#buttons button[data-operator="*"] {
  padding-bottom: 5px;
}
#buttons button:last-child {
  color: var(--text-color);
  background-color: var(--secondary-text-color);
}

#buttons button:active {
  background-color: var(--secondary-color);
}

.primary {
  color: var(--text-color);
}

.secondary {
  color: var(--secondary-text-color);
}

button[data-operator="ac"] {
  grid-area: ac;
}
button[data-operator="/"] {
  grid-area: divide;
}
button[data-operator="*"] {
  grid-area: multiply;
}
button[data-operator="backspace"] {
  grid-area: backspace;
}
button[data-number="1"] {
  grid-area: one;
}
button[data-number="2"] {
  grid-area: two;
}
button[data-number="3"] {
  grid-area: three;
}
button[data-operator="-"] {
  grid-area: minus;
}
button[data-number="4"] {
  grid-area: four;
}
button[data-number="5"] {
  grid-area: five;
}
button[data-number="6"] {
  grid-area: six;
}
button[data-operator="+"] {
  grid-area: plus;
}
button[data-number="7"] {
  grid-area: seven;
}
button[data-number="8"] {
  grid-area: eight;
}
button[data-number="9"] {
  grid-area: nine;
}
button[data-operator="="] {
  grid-area: equals;
}
button[data-operator="%"] {
  grid-area: percent;
}
button[data-number="0"] {
  grid-area: zero;
}
button[data-number="."] {
  grid-area: dot;
}

@media (max-width: 400px) {
  body {
    background-color: var(--primary-color);
  }
  #calculator {
    align-items: normal;
    padding: 0px;
    min-width: 80%;
    gap: 0px;
    box-shadow: none;
  }
  #buttons {
    display: grid;
    justify-content: space-around;
    align-content: unset;
  }
  #buttons button:not(button:last-child) {
    width: auto;
    aspect-ratio: 1/1;
  }

  #buttons button[data-operator="*"] {
    padding-bottom: 10px;
  }

  #buttons button {
    border: none;
    background-color: var(--primary-color);
    border-radius: 10000px;

    font-size: 2rem;
    padding: 5px;
    box-shadow: 0px 0px 7px 0px var(--secondary-color);
  }
}
