:root {
  --background-color: lightslategray;
  --primary-color: #3abef9;
  --secondary-color: rgb(95, 108, 122);
  --text-color: white;
  --secondary-text-color: #f9e63a;
}
html {
  font-size: 14pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100svh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 500px;
  border: 1px black solid;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 20px;
}
.results {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  /* border: 1px pink solid; */
}

.Panel {
  display: grid;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "display display display display"
    "AC divide multiply backspace"
    "seven eight nine minus"
    "four five six plus"
    "one two three equals"
    "percent zero dot equals";
}

.secondary[data-operator="="] {
  height: auto;
  aspect-ratio: 0;
}
#display {
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: white;
  height: 100px;
  font-size: 2.5em;
  width: 100%;
  grid-area: display;
}

.Panel button[data-operator="AC"] {
  grid-area: AC;
}
.Panel button[data-operator="/"] {
  grid-area: divide;
}
.Panel button[data-operator="*"] {
  grid-area: multiply;
}
.Panel button[data-operator="backspace"] {
  grid-area: backspace;
}
.Panel button[data-number="1"] {
  grid-area: one;
}
.Panel button[data-number="2"] {
  grid-area: two;
}
.Panel button[data-number="3"] {
  grid-area: three;
}
.Panel button[data-operator="-"] {
  grid-area: minus;
}
.Panel button[data-number="4"] {
  grid-area: four;
}
.Panel button[data-number="5"] {
  grid-area: five;
}
.Panel button[data-number="6"] {
  grid-area: six;
}
.Panel button[data-operator="+"] {
  grid-area: plus;
}
.Panel button[data-number="7"] {
  grid-area: seven;
}
.Panel button[data-number="8"] {
  grid-area: eight;
}
.Panel button[data-number="9"] {
  grid-area: nine;
}
.Panel button[data-operator="="] {
  grid-area: equals;
}
.Panel button[data-operator="%"] {
  grid-area: percent;
}
.Panel button[data-number="0"] {
  grid-area: zero;
}
.Panel button[data-number="."] {
  grid-area: dot;
}

.primary,
.secondary,
.ghost {
  height: 100px;
  border-radius: 50px;
  aspect-ratio: 1/1;
  font-size: 2.5em;
  background-color: var(--background-color);
  border: none;
  box-shadow: 0px 0px 7px 0px var(--secondary-color);
}

.primary:active,
.secondary:active {
  background-color: var(--secondary-color);
}
.primary {
  color: var(--text-color);
}

.secondary {
  color: var(--secondary-text-color);
}

.ghost {
  opacity: 0;
}

@media (max-width: 540px) {
  body {
  }
}
