:root {
  --background-color: lightslategray;
  --primary-color: #3abef9;
  --secondary-color: rgb(95, 108, 122);
  --text-color: white;
  --secondary-text-color: #f9e63a;
}
html {
  font-size: 14pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100svh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  box-sizing: border-box;
  max-width: 540px;
  border: 1px black solid;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 20px;
}
.results {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Panel {
  max-width: 100%;
  display: grid;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "display display display display"
    "AC divide multiply backspace"
    "seven eight nine minus"
    "one five six plus"
    "four two three equals"
    "percent zero dot equals";
}

.secondary[data-operator="="] {
  height: auto;
  aspect-ratio: 0;
}

#display {
  box-sizing: border-box;
  width: 17ch;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: white;
  height: 120px;
  font-size: 2.5em;
  grid-area: display;

  display: flex;
  align-items: flex-start;
  padding: 0 20px;
  line-height: 1.2em;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.Panel button[data-operator="AC"] {
  grid-area: AC;
}
.Panel button[data-operator="/"] {
  grid-area: divide;
}
.Panel button[data-operator="*"] {
  grid-area: multiply;
}
.Panel button[data-operator="backspace"] {
  grid-area: backspace;
}
.Panel button[data-number="1"] {
  grid-area: one;
}
.Panel button[data-number="2"] {
  grid-area: two;
}
.Panel button[data-number="3"] {
  grid-area: three;
}
.Panel button[data-operator="-"] {
  grid-area: minus;
}
.Panel button[data-number="4"] {
  grid-area: four;
}
.Panel button[data-number="5"] {
  grid-area: five;
}
.Panel button[data-number="6"] {
  grid-area: six;
}
.Panel button[data-operator="+"] {
  grid-area: plus;
}
.Panel button[data-number="7"] {
  grid-area: seven;
}
.Panel button[data-number="8"] {
  grid-area: eight;
}
.Panel button[data-number="9"] {
  grid-area: nine;
}
.Panel button[data-operator="="] {
  grid-area: equals;
}
.Panel button[data-operator="%"] {
  grid-area: percent;
}
.Panel button[data-number="0"] {
  grid-area: zero;
}
.Panel button[data-number="."] {
  grid-area: dot;
}

.primary,
.secondary,
.ghost {
  height: 100px;
  border-radius: 50px;
  aspect-ratio: 1/1;
  font-size: 2.5em;
  background-color: var(--background-color);
  border: none;
  box-shadow: 0px 0px 7px 0px var(--secondary-color);
}

.primary:active,
.secondary:active {
  background-color: var(--secondary-color);
}
.primary {
  color: var(--text-color);
}

.secondary {
  color: var(--secondary-text-color);
}

.ghost {
  opacity: 0;
}

@media (max-width: 540px) {
  .results {
    display: none;
  }
  body {
    font-size: 0.8em;
    background-color: var(--background-color);
  }
  .calculator {
    display: flex;
    justify-content: center;
    border-radius: 0;
    height: 100%;
    border: none;
  }
  .Panel {
    width: 90%;
    display: grid;
    gap: 10px;
    column-gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "display display display display"
      "AC divide multiply backspace"
      "seven eight nine minus"
      "one five six plus"
      "four two three equals"
      "percent zero dot equals";
  }

  #display {
    padding-top: 15px;
    display: inline-block;
    width: 100%;
  }
  .secondary[data-operator="="] {
    height: 60;
    aspect-ratio: 1/2;
  }
  .primary,
  .secondary,
  .ghost {
    height: 60px;
    border-radius: 30px;
    aspect-ratio: 1/1;
    font-size: 2.5em;
  }
}
